.ml2 {
  font-weight: 900;
  font-size: 3.5em;
  height: 200px;
  margin-top: 50px;
  visibility: hidden;
}

.ml2.visible {
  visibility: visible;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
  opacity: 0;
  transform: scale(4);
}
